wandb
__pycache__
.vscode
notebooks
results
*.ipynb_checkpoints
eval_results
tests
.DS_Store
gradio.sh
outputs
*.pth
logs/
env.sh
mmdetection/
weight*/*
attn*/*
models/*
data/bagel_example
plot/
q_cfg*/